<link href="{{url_for('static', filename = 'css/template.css')}}" rel="stylesheet" charset="UTF-8">

<link href="{{url_for('static', filename = 'jquery-ui/jquery-ui.css')}}" rel="stylesheet" charset="UTF-8">
<link href="{{url_for('static', filename = 'bootstrap-css/bootstrap.css')}}" rel="stylesheet" charset="UTF-8">
<!--
<link href="{{url_for('static', filename = 'bootstrap-css/bootstrap-grid.css')}}" rel="stylesheet" charset="UTF-8">
<link href="{{url_for('static', filename = 'bootstrap-css/bootstrap-reboot.css')}}" rel="stylesheet" charset="UTF-8">
-->


<script src="{{url_for('static', filename = 'jquery/jquery-3.3.1.js')}}"></script>
<script src="{{url_for('static', filename = 'jquery/jquery.form.js')}}"></script>
<script src="{{url_for('static', filename = 'jquery-ui/jquery-ui.js')}}"></script>
<script src="{{url_for('static', filename = 'bootstrap-js/bootstrap.js')}}"></script>